<p>Hello World</p>

<p> Index : {{index}} </p>

<h2> Student Info </h2>
<p> Name : {{jimmy.name}} </p>
<p> Age : {{jimmy.age }}</p>
<p> Is Passing : {{jimmy.isPassing}}</p>
<p> Major : {{jimmy.major }}</p>


<h2> Student List </h2>
<div *ngFor="let student of students">
  <p> Name : {{student.name}} </p>
  <p> Age : {{student.age }}</p>
  <p *ngIf ="student.isPassing === true" style="color :green">This student is passing school</p>
  <p *ngIf ="student.isPassing === false" style="color :red"> This student is currently failing </p>
  <p> Major : {{student.major }}</p>
  <br> 
</div>